{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css' %}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<title>Gallery</title>
  <style type="text/css">
    .navbar-toggler-icon {
      background-color: #007bff; /* Change the background color of the user icon */
    }
     .footer {
      
      bottom: 0;
      width: 100%;
      background-color: #9A616D; /* Change the background color of the footer */
      text-align: center;
    }
    .online-icon {
      color: green; /* Change the color for online status */
    }
    .offline-icon {
      color: red; /* Change the color for offline status */
    }
    .scale-image {
      height: auto;
      transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    }
    .scale-image:hover {
      transform: scale(0.8); /* Scale the image on hover */
    }
    
  </style>
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #9A616D;">
  <div class="container-fluid">
    <a class="navbar-brand text-capitalize" href="https://boulou.energy">
      <img src="https://boulou.energy/cdn/shop/files/Asset4.png" alt="Logo" width="32px" height="32px">
      <span style="padding-left: 16px;color: black;" class="fw-bold">Boulou Energy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <!-- User Icon -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <!-- Use the appropriate user icon class -->
          <span class="text-capitalize fw-bold" style="padding-right: 16px;">RABE-ANDRIAMAROZOKY Rova Herve</span>
          <i class="fa fa-user-circle"></i> 
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!-- navbar end-->
    <!-- device liste section start-->

    <section class="main_heading my-5 mt-5">
      <div class="text-center "  style="padding-top:16px;">
        <h1 class="display-4">My connected Smart Plug</h1>
        <hr class="w-25 mx-auto" />
      </div>
      <div class="container">
        <div class="row gy-2 my-5">
            <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <a href="/SmartPlug/bfbbe603f37b831375vgzq">
                  <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                </a>
                <i class="fas fa-circle online-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;" class="image-caption">BAROUKH404</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}"alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;" class="figure-caption">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}"alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;" class="image-caption">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          <div class="col-md-4 col-10 col-xxl-4 mx-auto image-container">
              <figure style="text-align: center;">
                <img src="{% static 'images/smartplug-image.png' %}" alt="Gellery" class="img-fluid rounded-circle scale-image">
                <i class="fas fa-circle offline-icon" style="position: relative;top: 80px;right: 70px;"></i>
                <figcaption style="text-align: center;">PLUG NAME</figcaption>
              </figure>
          </div>
          
        </div>
      </div>
</section>
    <!-- Gellery section End -->

    <!-- footer section start-->
      <footer class="footer  text-center text-white">
        <p>&copy; copyright <strong>Team Baroukh404</strong></p>
      </footer>
    <!-- footer section end-->

   <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>