{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Login</title>
  <link rel="icon" href="{% static 'login/img/mdb-favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
  <link rel="stylesheet" href="{% static  'login/css/bootstrap-login-form.min.css' %}"/>
</head>
<body>
  <section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-6">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <!-- Login form -->
                  <form action="/home/" method="POST">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                      <img src="https://boulou.energy/cdn/shop/files/Asset4.png"
                      alt="login form"
                      class="img-fluid" style="border-radius: 1rem 0 0 1rem; width: 64px; height: 64px;">
                      <span class="h1 fw-bold mb-0" style="padding-left: 32px;">Boulou Energy</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3 align-items-center" style="letter-spacing: 1px;">Sign into your account</h5>
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example17" name="email" >Email address</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example27" name="password" >Password</label>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
                  <!-- End login form -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'login/js/mdb.min.js' %}"></script>
  <!-- Custom scripts -->
  <script type="text/javascript"></script>
</body>

</html>